<h1>Index do Usuário</h1>

<table class="table table-light table-striped">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Telefone</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Arthur</td>
            <td>(16) 99195-9494</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Ferneco</td>
            <td>(16) 99195-9494</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Alexandre</td>
            <td>(16) 99195-9494</td>
        </tr>
        <tr>
            <td>4</td>
            <td>ViniSelvagem</td>
            <td>(16) 99195-9494</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Lucão</td>
            <td>(16) 99195-9494</td>
        </tr>
    </tbody>
</table>