
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dá uma fungada aqui</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<table class="table table-light table-striped">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Telefone</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Arthur</td>
            <td>(16) 99195-9494</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Contatinhos do Alexandre</td>
            <td>Ela mesma que vc já sabe</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Sabia que o sabiá</td>
            <td>sabia assobiar?</td>
        </tr>
    </tbody>
</table>